# iteative solution

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder , OneHotEncoder
from sklearn.tree import *
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

In [6]:
pd.set_option('display.max_rows', 500)

In [7]:
data = pd.read_csv("C:\\Users\\Asus\\Downloads\\tabular-minicap-1-main\\tabular-minicap-1-main\\train.csv")

In [8]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,76466,Sales & Marketing,region_31,Bachelor's,f,other,1,34,3.0,7,0,0,52,0
1,46459,Technology,region_2,Bachelor's,f,other,1,50,3.0,19,0,0,76,0
2,11890,Technology,region_7,Bachelor's,m,other,1,40,3.0,7,0,0,79,0
3,76483,Sales & Marketing,region_2,Bachelor's,f,sourcing,1,33,5.0,6,0,0,48,0
4,63365,Procurement,region_17,Bachelor's,f,other,1,34,3.0,8,0,0,67,0

In [9]:
data_test = pd.read_csv("C:\\Users\\Asus\\Downloads\\tabular-minicap-1-main\\tabular-minicap-1-main\\test.csv")

In [10]:
data_test.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,13463,Technology,region_7,Bachelor's,m,sourcing,1,33,4.0,7,0,0,79
1,16160,Technology,region_23,Bachelor's,m,other,1,40,3.0,5,1,1,79
2,15840,Analytics,region_19,Bachelor's,m,other,1,40,3.0,5,0,0,86
3,28325,Procurement,region_27,Bachelor's,f,sourcing,3,26,3.0,2,1,1,69
4,23651,Sales & Marketing,region_6,Bachelor's,m,sourcing,1,29,4.0,6,0,0,50

In [11]:
data_test.drop(["employee_id"],axis=1,inplace=True)

In [12]:
data_test.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Technology,region_7,Bachelor's,m,sourcing,1,33,4.0,7,0,0,79
1,Technology,region_23,Bachelor's,m,other,1,40,3.0,5,1,1,79
2,Analytics,region_19,Bachelor's,m,other,1,40,3.0,5,0,0,86
3,Procurement,region_27,Bachelor's,f,sourcing,3,26,3.0,2,1,1,69
4,Sales & Marketing,region_6,Bachelor's,m,sourcing,1,29,4.0,6,0,0,50

In [13]:
test_categorical_cols = data_test.select_dtypes(include=['object']).columns

In [14]:
test_categorical_cols

Index(['department', 'region', 'education', 'gender', 'recruitment_channel'], dtype='object')

In [15]:
data_test = pd.get_dummies(data_test, columns=test_categorical_cols, drop_first=True)

In [16]:
data_test.isnull().sum()

no_of_trainings                   0
age                               0
previous_year_rating            799
length_of_service                 0
KPIs_met >80%                     0
awards_won?                       0
avg_training_score                0
department_Finance                0
department_HR                     0
department_Legal                  0
department_Operations             0
department_Procurement            0
department_R&D                    0
department_Sales & Marketing      0
department_Technology             0
region_region_10                  0
region_region_11                  0
region_region_12                  0
region_region_13                  0
region_region_14                  0
region_region_15                  0
region_region_16                  0
region_region_17                  0
region_region_18                  0
region_region_19                  0
region_region_2                   0
region_region_20                  0
region_region_21                  0
region_region_22                  0
region_region_23                  0
region_region_24                  0
region_region_25                  0
region_region_26                  0
region_region_27                  0
region_region_28                  0
region_region_29                  0
region_region_3                   0
region_region_30                  0
region_region_31                  0
region_region_32                  0
region_region_33                  0
region_region_34                  0
region_region_4                   0
region_region_5                   0
region_region_6                   0
region_region_7                   0
region_region_8                   0
region_region_9                   0
education_Below Secondary         0
education_Master's & above        0
gender_m                          0
recruitment_channel_referred      0
recruitment_channel_sourcing      0
dtype: int64

In [17]:
data_test.fillna(data_test.mean(numeric_only=True).round(1), inplace=True)

In [18]:
#random 10 columns
data.sample(10)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
40403,60135,Operations,region_19,Bachelor's,m,other,2,38,5.0,7,0,0,75,1
23693,55504,Sales & Marketing,region_7,Master's & above,m,sourcing,2,39,2.0,5,0,0,53,0
26217,58277,HR,region_23,Bachelor's,m,other,1,29,1.0,4,0,0,49,0
21667,74706,Analytics,region_15,Bachelor's,m,other,1,29,3.0,8,0,0,92,1
27916,15890,Analytics,region_2,Bachelor's,m,sourcing,2,37,5.0,9,0,0,84,0
33371,48527,Finance,region_7,Bachelor's,m,sourcing,1,31,5.0,7,1,0,57,0
43579,19974,Sales & Marketing,region_16,Bachelor's,m,other,2,38,3.0,12,0,0,54,0
34142,19831,Sales & Marketing,region_4,Master's & above,f,other,1,32,3.0,5,0,0,53,0
675,71341,Operations,region_31,Master's & above,m,sourcing,1,55,5.0,3,1,0,60,0
2649,17968,Sales & Marketing,region_2,Bachelor's,m,sourcing,1,30,4.0,4,0,0,63,1

In [19]:
data.shape

(43846, 14)

In [20]:
data.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [21]:
# Size of data.

print((data.memory_usage().sum()/(1024*1024)).round(2),"MB")

4.68 MB

In [22]:
data.employee_id.value_counts().sum()

43846

##### 	employee_id column is unique feature(number of columns = 	employee_id) so we can drop it

In [23]:
data.drop(['employee_id'],axis=1,inplace=True)

In [24]:
data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_31,Bachelor's,f,other,1,34,3.0,7,0,0,52,0
1,Technology,region_2,Bachelor's,f,other,1,50,3.0,19,0,0,76,0
2,Technology,region_7,Bachelor's,m,other,1,40,3.0,7,0,0,79,0
3,Sales & Marketing,region_2,Bachelor's,f,sourcing,1,33,5.0,6,0,0,48,0
4,Procurement,region_17,Bachelor's,f,other,1,34,3.0,8,0,0,67,0

## Plan
### Classification Problem

In [22]:
'''
Requirements for model fitting by sklearn.
1. No Missing values.
2. No categorical columns.

'''

'\nRequirements for model fitting by sklearn.\n1. No Missing values.\n2. No categorical columns.\n\n'

In [25]:
# Find and fill null values

data.isnull().sum()

department                 0
region                     0
education               1941
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    3325
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [26]:
data.isnull().mean()*1000

department               0.000000
region                   0.000000
education               44.268576
gender                   0.000000
recruitment_channel      0.000000
no_of_trainings          0.000000
age                      0.000000
previous_year_rating    75.833599
length_of_service        0.000000
KPIs_met >80%            0.000000
awards_won?              0.000000
avg_training_score       0.000000
is_promoted              0.000000
dtype: float64

##### previous_year_rating feature has more null values = 75%

In [27]:
#data.drop(['previous_year_rating'],axis=1,inplace=True)

In [28]:
data.dtypes

department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [29]:
data.duplicated().value_counts()

False    43764
True        82
dtype: int64

In [30]:
'''
Column Transformation

simple imputer = education , previous_year_rating  
ordinalEncoder = education (nan = 0 ,'Below Secondary' = 1, "Bachelor's" = 3, "Master's & above" = 4)
OnehotEncoder = department , region, gender , recruitment_channel 

'''

'\nColumn Transformation\n\nsimple imputer = education , previous_year_rating  \nordinalEncoder = education (nan = 0 ,\'Below Secondary\' = 1, "Bachelor\'s" = 3, "Master\'s & above" = 4)\nOnehotEncoder = department , region, gender , recruitment_channel \n\n'

In [31]:
data['education']

0              Bachelor's
1              Bachelor's
2              Bachelor's
3              Bachelor's
4              Bachelor's
               ...
43841    Master's & above
43842          Bachelor's
43843    Master's & above
43844          Bachelor's
43845          Bachelor's
Name: education, Length: 43846, dtype: object

In [32]:
#Filling missing values 
#1. numeric feature's missing values

data.fillna(data.mean(numeric_only=True).round(1), inplace=True)

In [33]:
#2. categorical features missing values

data = data.fillna(data.mode().iloc[0])

In [34]:
data.isnull().sum()

department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [35]:
categorical_cols = data.select_dtypes(include=['object']).columns

In [36]:
categorical_cols

Index(['department', 'region', 'education', 'gender', 'recruitment_channel'], dtype='object')

In [37]:
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [38]:
data.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Finance,department_HR,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,1,34,3.0,7,0,0,52,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,50,3.0,19,0,0,76,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,40,3.0,7,0,0,79,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,1,33,5.0,6,0,0,48,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,34,3.0,8,0,0,67,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:

''''

              Specs        Score
6     avg_training_score  3225.171812
5            awards_won?  1222.035670
4          KPIs_met >80%  1104.370648
2   previous_year_rating   352.633192
42       region_region_4    55.569564

'''

"'\n\n              Specs        Score\n6     avg_training_score  3225.171812\n5            awards_won?  1222.035670\n4          KPIs_met >80%  1104.370648\n2   previous_year_rating   352.633192\n42       region_region_4    55.569564\n\n"

In [40]:
# Data spiliting
train_size = 35076
test_size = 4385
holdout_size = 4385

temp_x,holdout_x,temp_y,holdout_y  = train_test_split(data.drop(['is_promoted'],axis=1), data['is_promoted'] , test_size=holdout_size, random_state=121, stratify = data['is_promoted'] )

In [41]:
temp_x.shape , holdout_x.shape

((39461, 53), (4385, 53))

In [42]:
train_x,test_x,train_y,test_y = train_test_split(temp_x,temp_y , test_size = test_size , random_state=121)

In [43]:
train_x.shape , test_x.shape , holdout_x.shape

((35076, 53), (4385, 53), (4385, 53))

In [44]:
model = RandomForestClassifier(random_state=121)

# Grid search CV and RandomizedSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [ ]:
param_grid = {'n_estimators' : [50,100,150],
             'max_depth' : [5,7,11,13],
             'max_features' : [10,12,15,17],
             'min_samples_leaf' : [5,10,20,50]}

In [ ]:
tuned_model = RandomizedSearchCV(estimator=model,param_distributions=param_grid, scoring='f1',n_jobs=-1,cv=2, n_iter=10,refit=True,return_train_score=True)

In [ ]:
tuned_model.fit(train_x,train_y)

In [ ]:
test_pred = tuned_model.predict(test_x)

In [ ]:
print(classification_report(test_y,test_pred))

# BayesianOptimization

In [42]:
!pip install bayesian-optimization

Requirement already satisfied: bayesian-optimization in c:\users\asus\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: colorama>=0.4.6 in c:\users\asus\anaconda3\lib\site-packages (from bayesian-optimization) (0.4.6)
Requirement already satisfied: scipy>=1.0.0 in c:\users\asus\anaconda3\lib\site-packages (from bayesian-optimization) (1.9.1)
Requirement already satisfied: numpy>=1.9.0 in c:\users\asus\anaconda3\lib\site-packages (from bayesian-optimization) (1.21.5)
Requirement already satisfied: scikit-learn>=0.18.0 in c:\users\asus\anaconda3\lib\site-packages (from bayesian-optimization) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn>=0.18.0->bayesian-optimization) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn>=0.18.0->bayesian-optimization) (2.2.0)

In [45]:
from sklearn.model_selection import cross_val_score
from bayes_opt import BayesianOptimization
import lightgbm as lgb
from lightgbm import LGBMClassifier
def lgb_cv(n_estimators, max_depth, num_leaves, subsample,colsample_bytree, data, targets):
    estimator = LGBMClassifier(
        n_estimators=n_estimators,
        max_depth=max_depth,
        num_leaves=num_leaves,
        subsample=subsample,
        colsample_bytree=colsample_bytree,
        random_state=121
    )
    cval = cross_val_score(estimator, data, targets,
                           scoring='neg_root_mean_squared_error', cv=3)
    return cval.mean()

def lgb_crossval(n_estimators, max_depth, num_leaves, subsample,colsample_bytree):
        return lgb_cv(
            n_estimators=int(n_estimators),
            max_depth=int(max_depth),
            num_leaves=int(num_leaves),
            subsample=max(min(subsample, 0.999), 1e-3),
            colsample_bytree=max(min(colsample_bytree, 0.999), 1e-3),
            data=train_x,
            targets=train_y,
        )
        
optimizer = BayesianOptimization(
        f=lgb_crossval,
        pbounds={
            "n_estimators": (10, 250),
            "max_depth": (5,45),
            "num_leaves": (21,61),
            "subsample": (0.1, 0.999),
            "colsample_bytree":(0.1, 0.999)
        },
        random_state=121,
        verbose=2
    )
optimizer.maximize(n_iter=20)

best_params = optimizer.max['params']
best_params['max_depth'] = int(best_params['max_depth'])
best_params['num_leaves'] = int(best_params['num_leaves'])
best_params['subsample'] = (best_params['subsample'])
best_params['colsample_bytree'] = (best_params['colsample_bytree'])
best_params['n_estimators'] = int(best_params['n_estimators'])

best_model = LGBMClassifier(random_state=121)
best_model.set_params(**best_params)
best_model.fit(train_x, train_y)

|   iter    |  target   | colsam... | max_depth | n_esti... | num_le... | subsample |
-------------------------------------------------------------------------------------
| 1         | -0.2718   | 0.2001    | 13.43     | 65.91     | 27.08     | 0.8463    |
| 2         | -0.2428   | 0.4667    | 27.23     | 188.9     | 30.94     | 0.9708    |
| 3         | -0.2488   | 0.9565    | 24.59     | 14.39     | 55.3      | 0.464     |
| 4         | -0.2444   | 0.6596    | 16.81     | 233.1     | 37.22     | 0.61      |
| 5         | -0.2837   | 0.3209    | 14.03     | 19.19     | 44.24     | 0.8455    |
| 6         | -0.2442   | 0.8861    | 22.4      | 107.7     | 57.97     | 0.6886    |
| 7         | -0.2434   | 0.5271    | 9.015     | 150.5     | 34.14     | 0.2325    |
| 8         | -0.2894   | 0.2772    | 9.198     | 17.22     | 57.1      | 0.9759    |
| 9         | -0.2436   | 0.9356    | 9.755     | 149.1     | 33.57     | 0.9283    |
| 10        | -0.2526   | 0.999     | 41.04     | 10.0      | 59.43     | 0.1       |
| 11        | -0.2438   | 0.999     | 21.1      | 169.1     | 31.04     | 0.999     |
| 12        | -0.2462   | 0.9328    | 18.78     | 209.9     | 35.79     | 0.9667    |
| 13        | -0.244    | 0.4599    | 8.375     | 184.9     | 43.01     | 0.4162    |
| 14        | -0.2425   | 0.999     | 5.818     | 184.7     | 21.0      | 0.999     |
| 15        | -0.2753   | 0.1       | 18.3      | 135.1     | 55.67     | 0.1       |
| 16        | -0.243    | 0.9417    | 6.358     | 159.2     | 21.57     | 0.3467    |
| 17        | -0.2451   | 0.4705    | 30.83     | 192.2     | 54.25     | 0.1752    |
| 18        | -0.2475   | 0.756     | 33.47     | 221.9     | 55.39     | 0.4822    |
| 19        | -0.2569   | 0.1687    | 7.872     | 212.6     | 59.96     | 0.2685    |
| 20        | -0.244    | 0.5201    | 43.13     | 207.4     | 33.73     | 0.7962    |
| 21        | -0.245    | 0.2869    | 38.95     | 231.4     | 27.71     | 0.9886    |
| 22        | -0.2452   | 0.999     | 39.84     | 93.86     | 61.0      | 0.999     |
| 23        | -0.2462   | 0.999     | 45.0      | 177.5     | 40.41     | 0.999     |
| 24        | -0.2488   | 0.999     | 33.73     | 250.0     | 46.1      | 0.4319    |
| 25        | -0.2763   | 0.1       | 14.95     | 88.68     | 61.0      | 0.1       |
=====================================================================================

LGBMClassifier(colsample_bytree=0.999, max_depth=5, n_estimators=184,
               num_leaves=21, random_state=121, subsample=0.999)

In [46]:
tuned_model = LGBMClassifier(colsample_bytree=0.999, max_depth=5, n_estimators=184,
               num_leaves=21, random_state=121, subsample=0.999)

In [47]:
tuned_model.fit(train_x,train_y)

LGBMClassifier(colsample_bytree=0.999, max_depth=5, n_estimators=184,
               num_leaves=21, random_state=121, subsample=0.999)

In [48]:
test_pred = tuned_model.predict(test_x)

In [49]:
print(classification_report(test_y,test_pred))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97      4005
           1       0.96      0.34      0.50       380

    accuracy                           0.94      4385
   macro avg       0.95      0.67      0.73      4385
weighted avg       0.94      0.94      0.93      4385

In [50]:
sample_submission = pd.read_csv("C:\\Users\\Asus\\Downloads\\tabular-minicap-1-main\\tabular-minicap-1-main\\sample_submission.csv")

In [51]:
sample_submission.head()

   employee_id  is_promoted
0        13463          NaN
1        16160          NaN
2        15840          NaN
3        28325          NaN
4        23651          NaN

In [ ]:
sample_submission

In [ ]:
sample_submission.to_csv('sample_submission.csv', index=False)

# Top 5 important features

In [53]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2


#apply SelectKBest class to extract top 5 best features
bestfeatures = SelectKBest(score_func=chi2, k=5)
fit = bestfeatures.fit(train_x,train_y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(train_x.columns)


#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)

featureScores.columns = ['Specs','Score']  


#print 5 best features
print(featureScores.nlargest(5,'Score'))

                   Specs        Score
6     avg_training_score  3225.171812
5            awards_won?  1222.035670
4          KPIs_met >80%  1104.370648
2   previous_year_rating   352.633192
42       region_region_4    55.569564