# Baseline solution

In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder , OneHotEncoder
from sklearn.tree import *
from sklearn.model_selection import RandomizedSearchCV

In [46]:
pd.set_option('display.max_rows', 500)

In [47]:
data = pd.read_csv("C:\\Users\\Asus\\Downloads\\tabular-minicap-1-main\\tabular-minicap-1-main\\train.csv")

In [48]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,76466,Sales & Marketing,region_31,Bachelor's,f,other,1,34,3.0,7,0,0,52,0
1,46459,Technology,region_2,Bachelor's,f,other,1,50,3.0,19,0,0,76,0
2,11890,Technology,region_7,Bachelor's,m,other,1,40,3.0,7,0,0,79,0
3,76483,Sales & Marketing,region_2,Bachelor's,f,sourcing,1,33,5.0,6,0,0,48,0
4,63365,Procurement,region_17,Bachelor's,f,other,1,34,3.0,8,0,0,67,0

In [52]:
data_test = pd.read_csv("C:\\Users\\Asus\\Downloads\\tabular-minicap-1-main\\tabular-minicap-1-main\\test.csv")

In [53]:
data_test.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,13463,Technology,region_7,Bachelor's,m,sourcing,1,33,4.0,7,0,0,79
1,16160,Technology,region_23,Bachelor's,m,other,1,40,3.0,5,1,1,79
2,15840,Analytics,region_19,Bachelor's,m,other,1,40,3.0,5,0,0,86
3,28325,Procurement,region_27,Bachelor's,f,sourcing,3,26,3.0,2,1,1,69
4,23651,Sales & Marketing,region_6,Bachelor's,m,sourcing,1,29,4.0,6,0,0,50

In [90]:
data_test.drop(["employee_id"],axis=1,inplace=True)

In [91]:
data_test.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Technology,region_7,Bachelor's,m,sourcing,1,33,4.0,7,0,0,79
1,Technology,region_23,Bachelor's,m,other,1,40,3.0,5,1,1,79
2,Analytics,region_19,Bachelor's,m,other,1,40,3.0,5,0,0,86
3,Procurement,region_27,Bachelor's,f,sourcing,3,26,3.0,2,1,1,69
4,Sales & Marketing,region_6,Bachelor's,m,sourcing,1,29,4.0,6,0,0,50

In [93]:
test_categorical_cols = data_test.select_dtypes(include=['object']).columns

In [95]:
test_categorical_cols

Index(['department', 'region', 'education', 'gender', 'recruitment_channel'], dtype='object')

In [98]:
data_test = pd.get_dummies(data_test, columns=test_categorical_cols, drop_first=True)

In [100]:
data_test.isnull().sum()

no_of_trainings                   0
age                               0
previous_year_rating            799
length_of_service                 0
KPIs_met >80%                     0
awards_won?                       0
avg_training_score                0
department_Finance                0
department_HR                     0
department_Legal                  0
department_Operations             0
department_Procurement            0
department_R&D                    0
department_Sales & Marketing      0
department_Technology             0
region_region_10                  0
region_region_11                  0
region_region_12                  0
region_region_13                  0
region_region_14                  0
region_region_15                  0
region_region_16                  0
region_region_17                  0
region_region_18                  0
region_region_19                  0
region_region_2                   0
region_region_20                  0
region_region_21                  0
region_region_22                  0
region_region_23                  0
region_region_24                  0
region_region_25                  0
region_region_26                  0
region_region_27                  0
region_region_28                  0
region_region_29                  0
region_region_3                   0
region_region_30                  0
region_region_31                  0
region_region_32                  0
region_region_33                  0
region_region_34                  0
region_region_4                   0
region_region_5                   0
region_region_6                   0
region_region_7                   0
region_region_8                   0
region_region_9                   0
education_Below Secondary         0
education_Master's & above        0
gender_m                          0
recruitment_channel_referred      0
recruitment_channel_sourcing      0
dtype: int64

In [101]:
data_test.fillna(data_test.mean(numeric_only=True).round(1), inplace=True)

In [54]:
#random 10 columns
data.sample(10)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
37415,24164,Finance,region_2,Bachelor's,m,sourcing,1,26,1.0,3,0,0,62,0
16527,32174,Operations,region_22,Bachelor's,m,other,2,25,4.0,3,1,0,57,0
20051,18473,Operations,region_2,Bachelor's,m,sourcing,1,30,NaN,1,1,0,58,0
5031,23835,Sales & Marketing,region_22,Bachelor's,m,other,1,28,3.0,2,0,0,50,0
31976,39857,Technology,region_5,Bachelor's,m,sourcing,1,46,5.0,16,1,0,78,1
20688,54367,HR,region_7,Bachelor's,m,other,1,42,4.0,10,0,0,45,0
27153,29898,Sales & Marketing,region_23,NaN,m,sourcing,1,39,5.0,2,0,0,51,0
32809,4812,Sales & Marketing,region_11,Bachelor's,m,other,2,28,1.0,2,0,0,48,0
36597,47235,Analytics,region_4,Master's & above,m,other,1,43,5.0,14,1,0,83,0
14494,35804,Sales & Marketing,region_13,Master's & above,m,other,1,35,1.0,8,0,0,46,0

In [55]:
data.shape

(43846, 14)

In [56]:
data.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [57]:
# Size of data.

print((data.memory_usage().sum()/(1024*1024)).round(2),"MB")

4.68 MB

In [58]:
data.employee_id.value_counts().sum()

43846

##### 	employee_id column is unique feature(number of columns = 	employee_id) so we can drop it

In [59]:
data.drop(['employee_id'],axis=1,inplace=True)

In [60]:
data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_31,Bachelor's,f,other,1,34,3.0,7,0,0,52,0
1,Technology,region_2,Bachelor's,f,other,1,50,3.0,19,0,0,76,0
2,Technology,region_7,Bachelor's,m,other,1,40,3.0,7,0,0,79,0
3,Sales & Marketing,region_2,Bachelor's,f,sourcing,1,33,5.0,6,0,0,48,0
4,Procurement,region_17,Bachelor's,f,other,1,34,3.0,8,0,0,67,0

## Plan
### Classification Problem

In [61]:
'''
Requirements for model fitting by sklearn.
1. No Missing values.
2. No categorical columns.

'''

'\nRequirements for model fitting by sklearn.\n1. No Missing values.\n2. No categorical columns.\n\n'

In [62]:
# Find and fill null values

data.isnull().sum()

department                 0
region                     0
education               1941
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    3325
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [63]:
data.isnull().mean()*1000

department               0.000000
region                   0.000000
education               44.268576
gender                   0.000000
recruitment_channel      0.000000
no_of_trainings          0.000000
age                      0.000000
previous_year_rating    75.833599
length_of_service        0.000000
KPIs_met >80%            0.000000
awards_won?              0.000000
avg_training_score       0.000000
is_promoted              0.000000
dtype: float64

##### previous_year_rating feature has more null values = 75%

In [64]:
#data.drop(['previous_year_rating'],axis=1,inplace=True)

In [65]:
data.dtypes

department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [66]:
data.duplicated().value_counts()

False    43764
True        82
dtype: int64

In [67]:
'''
Column Transformation

simple imputer = education , previous_year_rating  
ordinalEncoder = education (nan = 0 ,'Below Secondary' = 1, "Bachelor's" = 3, "Master's & above" = 4)
OnehotEncoder = department , region, gender , recruitment_channel 

'''

'\nColumn Transformation\n\nsimple imputer = education , previous_year_rating  \nordinalEncoder = education (nan = 0 ,\'Below Secondary\' = 1, "Bachelor\'s" = 3, "Master\'s & above" = 4)\nOnehotEncoder = department , region, gender , recruitment_channel \n\n'

In [68]:
data['education']

0              Bachelor's
1              Bachelor's
2              Bachelor's
3              Bachelor's
4              Bachelor's
               ...
43841    Master's & above
43842          Bachelor's
43843    Master's & above
43844          Bachelor's
43845          Bachelor's
Name: education, Length: 43846, dtype: object

In [69]:
#Filling missing values 
#1. numeric feature's missing values

data.fillna(data.mean(numeric_only=True).round(1), inplace=True)

In [70]:
#2. categorical features missing values

data = data.fillna(data.mode().iloc[0])

In [71]:
data.isnull().sum()

department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [72]:
categorical_cols = data.select_dtypes(include=['object']).columns

In [73]:
categorical_cols

Index(['department', 'region', 'education', 'gender', 'recruitment_channel'], dtype='object')

In [74]:
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [75]:
data.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Finance,department_HR,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,1,34,3.0,7,0,0,52,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,50,3.0,19,0,0,76,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,40,3.0,7,0,0,79,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,1,33,5.0,6,0,0,48,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,34,3.0,8,0,0,67,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
# Data spiliting
train_size = 35076
test_size = 4385
holdout_size = 4385

temp_x,holdout_x,temp_y,holdout_y  = train_test_split(data.drop(['is_promoted'],axis=1), data['is_promoted'] , test_size=holdout_size, random_state=121, stratify = data['is_promoted'] )

In [77]:
temp_x.shape , holdout_x.shape

((39461, 53), (4385, 53))

In [78]:
train_x,test_x,train_y,test_y = train_test_split(temp_x,temp_y , test_size = test_size , random_state=121)

In [79]:
train_x.shape , test_x.shape , holdout_x.shape

((35076, 53), (4385, 53), (4385, 53))

In [80]:
train_y.sum()/train_y.shape[0]

0.08498688561979702

In [81]:
test_y.sum()/test_y.shape[0]

0.08665906499429875

In [82]:
model = DecisionTreeClassifier()

In [83]:
model.fit(train_x,train_y)

DecisionTreeClassifier()

In [103]:
other_test_pred = model.predict(data_test)

In [104]:
other_test_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [86]:
print(classification_report(test_y,test_pred))

              precision    recall  f1-score   support

           0       0.95      0.94      0.95      4005
           1       0.43      0.45      0.44       380

    accuracy                           0.90      4385
   macro avg       0.69      0.70      0.69      4385
weighted avg       0.90      0.90      0.90      4385

In [87]:
holdout_pred = model.predict(holdout_x)

In [88]:
holdout_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [89]:
print(classification_report(holdout_y,holdout_pred))

              precision    recall  f1-score   support

           0       0.94      0.94      0.94      4012
           1       0.38      0.40      0.39       373

    accuracy                           0.89      4385
   macro avg       0.66      0.67      0.66      4385
weighted avg       0.90      0.89      0.89      4385

In [ ]:
#grid

In [ ]:
####  This is the baseline solution. Preprocessing is avoided because to represent True Decision Tree. It can be done in iterative solution to incrase accuracy

In [ ]:
#import matplotlib.pyplot as plt
#plt.figure(figsize=(20,10))
#plot_tree(model,feature_names=data.drop('is_promoted',axis=1).columns,max_depth = 2,filled=True,class_names = True)
#plt.show()

In [ ]:
#print(classification_report(train_y,train_pred))

In [ ]:
#train_pred = DT_model.predict(train_x)

In [ ]:
#print(classification_report(holdout_y,holdout_pred))

In [ ]:
#holdout_pred = DT_model.predict(holdout_x)

In [ ]:
#print(classification_report(test_y,test_pred))

In [ ]:
#test_pred

In [ ]:
#test_pred = DT_model.predict(test_x)

In [ ]:
# rebuild model with best parameter

#DT_model = DecisionTreeClassifier(criterion='entropy', max_depth=10, max_features='auto',
#                       min_samples_split=6)


#DT_model.fit(train_x,train_y)

In [ ]:
# now check best estimator

#DT_grid.best_estimator_

In [ ]:
#DT_grid.fit(train_x,train_y)

In [ ]:
#DT_grid = RandomizedSearchCV(DecisionTreeClassifier(), param_distributions = parameters , cv=10, verbose=True)

In [ ]:
#parameters = {'max_depth' : (3,5,7,9,10),
#             'criterion' : ('gini','entropy'),
#             'max_features' : ('auto','sqrt','log2'),
#             'min_samples_split' : (2,4,6)}

In [ ]:
# Hyperparameter testing using RandonizedSearchCV

In [ ]:
model.fit(train_x,train_y)

In [ ]:
#2 - Decision Tree Classifier gives better f1 score so we go with Decision tree Classifier

model = DecisionTreeClassifier()

In [105]:
other_test_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [106]:
sample_submission = pd.read_csv("C:\\Users\\Asus\\Downloads\\tabular-minicap-1-main\\tabular-minicap-1-main\\sample_submission.csv")

In [107]:
sample_submission.head()

   employee_id  is_promoted
0        13463          NaN
1        16160          NaN
2        15840          NaN
3        28325          NaN
4        23651          NaN

In [108]:
sample_submission['is_promoted']=other_test_pred

In [110]:
sample_submission

       employee_id  is_promoted
0            13463            0
1            16160            0
2            15840            0
3            28325            0
4            23651            0
...            ...          ...
10957        53935            0
10958        52532            0
10959        39429            0
10960        48327            1
10961        29923            0

[10962 rows x 2 columns]

In [111]:
sample_submission.to_csv('sample_submission.csv', index=False)